nav {
    margin: 0 200px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;

        a {
            margin: 0 10px;

            text-decoration: none;
            color: black;

            &:visited {
                color: black;
            }
        }
    }
}